body {
    background-color: black;
}

.topEmpty {
    height: 100px;
    background-color: black;
    margin: 0px;
}


.title {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    
}

#employeeForm {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0px;
}

.formInputs {
    margin-left: 20px;
    margin-right: 20px;
}

#submitButton {
    width: 100px
}

.salaryTotals {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 100px;
}

#annualSalaryTotal {
    margin-left: 200px;
    margin-right: 80px;
}

#monthlySalaryTotal {
    margin-left: 80px;
    margin-right: 200px;
}

.empty {
    background-color: black;
    height: 1200px;
    margin: 0px;
}

table.table-dark.table-hover {
    margin: 0px;
}