body {
    text-align: center;
}

.formInputs {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

#submitButton {
    margin: 10px;
}

.employeeDataTable {
    margin: 0 auto;
}

.salaryTotals {
    margin-top: 80px;
}

#annualSalaryTotal {
    margin-left: 40px;
    margin-right: 40px;
}

#monthlySalaryTotal {
    margin-left: 40px;
    margin-right: 40px;
}